beautifulsoup4==4.7.1
certifi==2019.3.9
chardet==3.0.4
et-xmlfile==1.0.1
idna==2.8
IMAPClient==2.1.0
jdcal==1.4.1
lxml==4.3.3
openpyxl==2.6.2
Pillow==6.0.0
PyAutoGUI==0.9.42
PyGetWindow==0.0.5
PyJWT==1.7.1
PyMsgBox==1.0.6
pyobjc-core==5.2
pyobjc-framework-Cocoa==5.2
pyobjc-framework-Quartz==5.2
PyPDF2==1.26.0
pyperclip==1.7.0
PyRect==0.1.4
PyScreeze==0.1.21
PySocks==1.7.0
python-docx==0.8.10
PyTweening==1.0.3
pytz==2019.1
pyzmail36==1.0.4
requests==2.22.0
selenium==3.141.0
Send2Trash==1.5.0
six==1.12.0
soupsieve==1.9.1
twilio==6.27.0
urllib3==1.25.2
